In [25]:
# Import Libraries
import numpy as np 
import pandas as pd

In [26]:
# Define DataFrame
cropProduction=pd.read_csv("../../data/datacropproduction.csv")
cropRecommendation=pd.read_csv("../../data/datacroprecommendation.csv")

In [27]:
# Crop Production Unique
cpUnique=pd.unique(cropRecommendation["crop"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropProduction["Crop"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']
Crop Recommendation Unique Crops:  ['arecanut' 'other kharif pulses' 'rice' 'banana' 'cashewnut' 'coconut'
 'dry ginger' 'sugarcane' 'sweet potato' 'tapioca' 'black pepper'
 'dry chillies' 'other oilseeds' 'turmeric' 'maize' 'moong(green gram)'
 'urad' 'arhar/tur' 'groundnut' 'sunflower' 'bajra' 'castor seed'
 'cotton(lint)' 'horse-gram' 'jowar' 'korra' 'ragi' 'tobacco' 'gram'
 'wheat' 'masoor' 'sesamum' 'linseed' 'safflower' 'onion'
 'other misc. pulses' 'samai' 'small millets' 'coriander' 'potato'
 'other  rabi pulses' 'soyabean' 'beans & mutter(vegetable)' 'bhindi'
 'brinjal' 'citrus fruit' 'cucumber' 'grapes' 'mango' 'orange'
 'other fibres' 'other fresh fruits' 'other vegetables' 'papaya'
 'pome fruit' 'tomato' 'rapeseed &mustard' 'mesta' 'cowpea(lobia)' 'lemon'
 'pome granet' 'sapota' 'cabbage' 'peas  (vegetable)' 'niger seed'
 'bottle gourd' 'sannhamp' 'varagu' 'garlic' 'ginger' 'oilseeds total'
 'pulses total' 'jute' 'peas & beans (pulses)' 'blackgram' 'paddy'
 'pineapple' 'barley' 'khesari' 'guar seed' 'moth'
 'other cereals & millets' 'cond-spcs other' 'turnip' 'carrot' 'redish'
 'arcanut (processed)' 'atcanut (raw)' 'cashewnut processed'
 'cashewnut raw' 'cardamom' 'rubber' 'bitter gourd' 'drum stick'
 'jack fruit' 'snak guard' 'pump kin' 'tea' 'coffee' 'cauliflower'
 'other citrus fruit' 'water melon' 'total foodgrain' 'kapas' 'colocosia'
 'lentil' 'bean' 'jobster' 'perilla' 'rajmash kholar' 'ricebean (nagadal)'
 'ash gourd' 'beet root' 'lab-lab' 'ribed guard' 'yam' 'apple' 'peach'
 'pear' 'plums' 'litchi' 'ber' 'other dry fruit' 'jute & mesta']

In [28]:
# Common Crops
unique=[cpU for cpU in cpUnique if cpU in crUnique]
unique

['rice',
 'maize',
 'blackgram',
 'lentil',
 'banana',
 'mango',
 'grapes',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'jute',
 'coffee']

In [29]:
# Drop unnecessary Crops
data=cropProduction[cropProduction["Crop"].str.lower().isin(unique)].reset_index(drop=True)
# Export Preprocessed Data
data.to_csv("../../data/datacropproductionminified.csv")
data

,Municipality,Province,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.0
3,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.0
4,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Coconut,18190.0,64430000.0
...,...,...,...,...,...,...,...
37184,West Bengal,PURULIA,2014,Autumn,Maize,6317.0,13337.0
37185,West Bengal,PURULIA,2014,Autumn,Rice,264.0,721.0
37186,West Bengal,PURULIA,2014,Summer,Maize,325.0,2039.0
37187,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
37188,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0

In [30]:
# Drop Year
data=data.drop(['Crop_Year'],axis=1)

In [31]:
finalData=data[data['Production']>0].reset_index(drop=True)
finalData

,Municipality,Province,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.0
1,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.0
2,Andaman and Nicobar Islands,NICOBARS,Whole Year,Coconut,18168.0,65100000.0
3,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,83.0,300.0
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Coconut,18190.0,64430000.0
...,...,...,...,...,...,...
36495,West Bengal,PURULIA,Autumn,Maize,6317.0,13337.0
36496,West Bengal,PURULIA,Autumn,Rice,264.0,721.0
36497,West Bengal,PURULIA,Summer,Maize,325.0,2039.0
36498,West Bengal,PURULIA,Summer,Rice,306.0,801.0
36499,West Bengal,PURULIA,Winter,Rice,279151.0,597899.0

In [32]:
# Set Features as Category
finalData['Municipality']=finalData['Municipality'].astype('category')
finalData['Province']=finalData['Province'].astype('category')
finalData['Season']=finalData['Season'].astype('category')
finalData['Crop']=finalData['Crop'].astype('category')

In [33]:
# Convert Category to codes
finalData['Municipality']=finalData['Municipality'].cat.codes
finalData['Province']=finalData['Province'].cat.codes
finalData['Season']=finalData['Season'].cat.codes
finalData['Crop']=finalData['Crop'].cat.codes

In [34]:
# Check for NULL values
finalData.isnull().any()

Municipality    False
Province        False
Season          False
Crop            False
Area            False
Production      False
dtype: bool

In [35]:
# Check for na values
finalData.isna().any()

Municipality    False
Province        False
Season          False
Crop            False
Area            False
Production      False
dtype: bool

In [36]:
# Display Final Data
finalData

       Municipality  Province  Season  Crop      Area  Production
0                 0       423       1    11     102.0       321.0
1                 0       423       4     0     176.0       641.0
2                 0       423       4     2   18168.0  65100000.0
3                 0       423       1    11      83.0       300.0
4                 0       423       4     2   18190.0  64430000.0
...             ...       ...     ...   ...       ...         ...
36495            32       467       0     7    6317.0     13337.0
36496            32       467       0    11     264.0       721.0
36497            32       467       3     7     325.0      2039.0
36498            32       467       3    11     306.0       801.0
36499            32       467       5    11  279151.0    597899.0

[36500 rows x 6 columns]

In [37]:
# Export Preprocessed Data
finalData.to_csv("../../preprocessedData/preprocessedcropproduction.csv")